AuthType Basic
AuthName "Password Protected Area"
AuthUserFile .htpasswd
Require valid-user
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase "localhost/HTLMEDT/Uebung/UE7"
RewriteRule ^(.*)$ index.php [NC,L]
</IfModule>